@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  /* Base escura */
  --bg-dark: #121212;
  --bg-dark-transparent: #121212da;
  --overlay: #1E1E1E;
  --gray-dark: #2D2D2D;
  
  /* Texto */
  --text-primary: #FFFFFF;
  --text-secondary: #444444;
  
  /* Destaques */
  --accent-blue: #3A7BDB;
  --accent-green: #2EBD85;
  --accent-wine: #A83D5E;
}

html {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(14,14,14);
  background: linear-gradient(50deg, rgba(14,14,14,1) 10%, rgba(42,42,42,1) 50%, rgba(14,14,14,1) 90%);
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}